#chat-screen {
  background-color: var(--yellow);
}

#chat-screen .alt-header,
#chat-screen .status-bar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--yellow);
  box-sizing: border-box;
}

#chat-screen .status-bar {
  z-index: 2;
}
#chat-screen .alt-header {
  top: 15px;
  z-index: 1;
}

.main-chat {
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

@keyframes fadeIn {
  from {
    transform: translateY(10px);
    opacity: 0;
  }

  to {
    transform: none;
    opacity: 1;
  }
}

.chat__timestamp {
  color: rgba(21, 21, 21, 0.9);
  background-color: #eae987;
  padding: 10px 15px;
  border-radius: 25px;
  margin-bottom: 25px;
  will-change: transform;
  animation: fadeIn 0.8s linear forwards;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}

@keyframes fadeInReceive {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInSend {
  from {
    opacity: 0;
    transform: translateX(10px);
  }
  to {
    opacity: 1;
  }
}

.message-row:nth-child(2),
.message-row:last-child {
  opacity: 0;
  animation: fadeInReceive 1s linear forwards;
}

.message-row:nth-child(2) {
  animation-delay: 0.6s;
}

.message-row:last-child {
  animation-delay: 1.4s;
}

.message-row:nth-child(3) {
  opacity: 0;
  animation: fadeInSend 1s linear forwards;
  animation-delay: 1s;
}

.message-row img {
  width: 45px;
  height: 45px;
  border-radius: 15px;
  margin-right: 13px;
}

.message__author {
  margin-bottom: 7px;
  display: block;
  font-weight: 600;
}

.message__bubble {
  background-color: white;
  padding: 13px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  margin-right: 5px;
  font-size: 18px;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__time,
.message__author {
  opacity: 0.8;
  font-size: 14px;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__bubble {
  color: white;
  background-color: var(--pink);
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  margin-left: 5px;
  margin-right: 0px;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  box-sizing: border-box;
  align-items: center;
  transition: all 0.3 ease-in-out;
}

.reply .reply__column:first-child {
  width: 10%;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply i {
  opacity: 0.5;
}

.reply input {
  /*사용하기 위해서는 column에 width 설정되어 있어야 함*/
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
  padding: 10px 0;
  transition: all 0.3s ease-in-out;
}

.reply input::placeholder {
  padding: 10px;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 3px;
  top: 4px;
}

.reply__column:last-child > i {
  right: 45px;
  top: 18px;
}

.reply__column button {
  background-color: var(--pink);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.reply__column button {
  opacity: 1;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-face-smile-wink,
.reply:focus-within button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-face-smile-wink,
.reply:focus-within button {
  opacity: 0;
}

.reply input:focus {
  width: 92vw;
  transform: translateX(-13%) translateY(-80px);
}

.reply:focus-within {
  transform: translateY(80px);
}
