#no-mobile {
  display: none;
  position: fixed;
}

@media screen and (min-width: 645px) {
  body {
    height: 100vh;
    overflow: hidden;
  }

  #no-mobile {
    position: absolute;
    z-index: 99;
    height: 100vh;
    width: 100vw;
    background-color: rgb(254, 99, 127);
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Luckiest Guy", cursive;
    font-size: 30px;
  }

  .no-mobile__snoopy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  @keyframes snoopyJump {
    0% {
      transform: none;
    }
    25% {
      transform: translateY(-50px);
    }
    50% {
      transform: translateY(10px);
    }
    75% {
      transform: translateY(-100px);
    }
    100% {
      transform: none;
    }
  }

  .no-mobile__snoopy img {
    position: absolute;
    width: 70px;
    height: 100px;
    top: -110px;
    right: 0px;
    cursor: pointer;
    animation: snoopyJump 2s steps(5, start) forwards infinite;
    animation-delay: 2.5s;
  }

  .no-mobile__snoopy-balloon {
    position: absolute;
    top: -90px;
    right: -70px;
    letter-spacing: 2px;
    line-height: 12px;
    width: 70px;
    height: 40px;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    background-color: white;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    display: block;
    box-sizing: border-box;
    padding: 8px 0;
  }

  .no-mobile__snoopy-balloon:hover {
    color: var(--pink);
  }

  .no-mobile__text {
    width: 18.5ch;
    animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
  }

  @keyframes typing {
    0% {
      width: 0;
    }

    30% {
      color: var(--yellow);
    }
    60% {
      color: var(--yellow);
    }
    100% {
      width: 18.5ch;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
}

/* js 추가 후 나중에 구현*/
/* @media screen and (max-width: 340px) {
  #no-mobile {
    position: absolute;
    z-index: 99;
    height: 100vh;
    width: 100vw;
    background-color: var(--pink);
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
  }

  body {
    height: 100vh;
    overflow: hidden;
  }
} */
