.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 38px;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: "Luckiest Guy", cursive;
}

.screen-header__title:hover {
  color: var(--pink);
}

.screen-header__icons span {
  margin-left: 20px;
  position: relative;
}

.screen-header__dot {
  left: 20px;
  bottom: 20px;
}

@keyframes rotateGear {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-gear:hover {
  animation: rotateGear 1s linear infinite;
}
